{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
<head>
    {% block title %}
    <title>Home - Trolley</title>
    {% endblock title %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    {% block main %}
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand logo-font" href="{% url 'user:home' %}">TROLLEY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav-container-right">
        <a href="{% url 'user:login' %}" class="nav-login">Log in</a>   
        <a class="btn btn-light" href="{% url 'user:signup'%}" role="button">Sign Up</a>
        <div>
        

    </nav>
    {% endblock main %}

    {% block content %}
    {% endblock content %}

    <div class="modal fade" id="addBoard" tabindex="-1" role="dialog" aria-labelledby="addBoardLabel" aria-hidden="true">
      <form action="{% url 'main:board' %}" method="post">
        {% csrf_token %}
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            {% render_field board_form.title class+="form-control" placeholder="Add board title" %}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"> 
            <div class="form-group">
                {% render_field board_form.description class+="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description (Optional)" %}
            </div><br>
            <div class="btn-group">
              {% render_field board_form.team class+="btn btn-secondary dropdown-toggle" %}
            </div>
            <div class="btn-group">
              {% render_field board_form.visibility class+="btn btn-secondary dropdown-toggle" %}
              </div>
            <span></span><br>
             
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Board</button>
          </div>
        </div>
      </div>
      </form>
    </div>

    <div class="modal fade" id="createTeam" tabindex="-1" role="dialog" aria-labelledby="createBoardLabel" aria-hidden="true">
      <form action="{% url 'main:create' %}" method="post">
        {% csrf_token %}
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            {% render_field team_form.name class+="form-control" placeholder="Name of Team" %}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"> 
            <div class="form-group">    
                {% render_field team_form.description class+="form-control" placeholder="Description (Optional)" %}
            </div>
            {% render_field team_form.website class+="form-control" placeholder="Website (Optional)" %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create Team</button>
          </div>
        </div>
      </div>
      </form>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>