{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
<head>
    {% block title %}
    <title>Home - Trolley</title>
    {% endblock title %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">   -->

</head>
<body>
    {% block main %}
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand logo-font" href="{% url 'user:home' %}">TROLLEY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav-container-right">
        <a href="{% url 'user:login' %}" class="nav-login">Log in</a>   
        <a class="btn btn-light" href="{% url 'user:signup'%}" role="button">Sign Up</a>
        <div>
        

    </nav>
    {% endblock main %}

    {% block content %}
    {% endblock content %}

    <div class="modal fade" id="addBoard" tabindex="-1" role="dialog" aria-labelledby="addBoardLabel" aria-hidden="true">
      <form action="{% url 'main:board' %}" method="post">
        {% csrf_token %}
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            {% render_field board_form.title class+="form-control" placeholder="Add board title" %}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"> 
            <div class="form-group">
                {% render_field board_form.description class+="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description (Optional)" %}
            </div><br>
            <div class="btn-group">
              {% render_field board_form.team class+="btn btn-secondary dropdown-toggle" %}
            </div>
            <div class="btn-group">
              {% render_field board_form.visibility class+="btn btn-secondary dropdown-toggle" %}
              </div>
            <span></span><br>
             
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Board</button>
          </div>
        </div>
      </div>
      </form>
    </div>

    <div class="modal fade" id="createTeam" tabindex="-1" role="dialog" aria-labelledby="createBoardLabel" aria-hidden="true">
      <form action="{% url 'main:create' %}" method="post">
        {% csrf_token %}
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            {% render_field team_form.name class+="form-control" placeholder="Name of Team" %}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"> 
            <div class="form-group">    
                {% render_field team_form.description class+="form-control" placeholder="Description (Optional)" %}
            </div>
            {% render_field team_form.website class+="form-control" placeholder="Website (Optional)" %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create Team</button>
          </div>
        </div>
      </div>
      </form>
    </div>

    <div id="ticketModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body" id="ticket-modal-body">
            <div id="insert-modal-ticket" class="container">
              
              <!-- modal content for viewing tickets -->
            </div>
          </div>
        </div>
      </div>



<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<script>
function add_list(event){
  event.preventDefault()
  console.log('add list ajax');
  var url = $(this).attr('action');
  $.ajax({
    url:url,
    type: "POST",
    data: $(this).serialize(),
    success: function(data){
      $('#inserted-list').before(`
        <div id="list-`+data.id+`" class="list">
          <h3 class="list-title">`+data.name+`</h3>
          <ul id="ul-`+data.id+`" class="list-items"> 
          </ul>
          <button value="`+data.id+`" id="btn-add-card" class="add-card-btn btn">Add a card</button>
        </div>
        `); 
      $('#insert-list').empty();
      $('.lists-container').append(
        `<button id="btn-add-list" class="add-list-btn btn" type="submit">Add a list</button>`);
      $('#btn-add-list').on('click',add_list_form);  
      $('.add-card-btn').click(add_card_form);
    }
  });
}

function close_add_list(event){
  event.preventDefault();
  console.log('closed add list');
  $('#insert-list').empty();
  $('.lists-container').append(
    `<button id="btn-add-list" class="add-list-btn btn" type="submit">Add a list</button>
  `);
  $('#btn-add-list').on('click',add_list_form);  
}

function add_list_form(event){
  event.preventDefault();
  console.log('clicked add list form');
  $('.add-list-btn').remove();
  $('#insert-list').append(
    $(`<div class="list">
      <h3 class="list-title">Name new List</h3>
      <ul class="list-items">
        <form method="post" // action="/main/board/create/list/{{board.id}}/" id="add-list-ajax">
        {% csrf_token %}
        {% render_field list_form.name class+="form-control" placeholder="Name new list" %}
        <br>
        <button class="btn btn-primary" type="submit">Submit</button> 
        <button id="close-add" class="btn btn-danger close-add">x</button>
        </form>
      </ul>
      </div>`)

  );
  $('#close-add').on('click',close_add_list);
  $('#add-list-ajax').on('submit',add_list); 
}

function add_card(event){
  event.preventDefault();
  var list_id = $(this).attr('value'); 
  console.log(list_id);
  var url = $(this).attr('action');
  $.ajax({
    url: url,
    method: "POST",
    data: $(this).serialize(),
    success: function(data){
      $('#ul-'+list_id).append(`
        <li draggable="true" ondragstart="drag(event)" id=`+data.id+`>`+data.name+`</li>
      `);
      $('#add-card-form-'+list_id).replaceWith(`
          <button value="`+list_id+`" id="btn-add-card" class="add-card-btn btn">Add a card</button>`);

      $('.add-card-btn').click(add_card_form);
    }
  }).done();
  event.stopImmediatePropagation();
}

function add_card_form(event){
  event.preventDefault();
  console.log('clicked add card form');
  var list_id=$(this).attr('value');
  console.log(list_id);
  $(this).replaceWith(`
    <div class="add-card-form" id="add-card-form-`+list_id+`">
    <form method="post" value=`+list_id+` action="/main/board/create/card/`+list_id+`/" class="add-card-ajax">
      {% csrf_token %}
      {% render_field ticket_form.name class+="form-control" placeholder="Name new list" %}
      <br>
      <button class="btn btn-primary" type="submit">Submit</button>
      <button class="btn btn-danger" id="close-add-card-form" value=`+list_id+`>X</button> 
    </form>
    </div>
  `);
  $('.btn.btn-danger').on('click',close_card_form);
  $('.add-card-ajax').on('submit',add_card);
}

function close_card_form(event){
  event.preventDefault();
  list_id = $(this).attr('value');
  $('#add-card-form-'+list_id).replaceWith(`
    <button value="`+list_id+`" id="btn-add-card" class="add-card-btn btn">Add a card</button>
  `);
  
  $('.add-card-btn').on('click',add_card_form);
}

function allowDrop(ev) {
  ev.preventDefault();

}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}
  
function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById(data));
}

function modalClick(event){
  event.preventDefault();
  console.log('clicked modal');
  var url = $(this).attr('action');
  $.ajax({
    url:url,
    data: $(this).serialize(),
    success: function(data){
      var comments='';
      if(data.description === ''){
        data.description = `
          <br>
          <form method="post" action="/main/board/view/card/description/`+data.id+`/" class="description">
            {% csrf_token %}
            {% render_field ticket_desc_form.description class+='form-control' rows='5' placeholder="This ticket has no description, write one" %}
            <button class="btn btn-primary" type="submit">Submit  </button>
          </form>`;
      }

      for(var i = 0; i < data.comment.length; i++){
        comments+=`<h1 class="login-forms" style="font-size:16px; ">
           `+data.comment[i].user__first_name+`
          </h1>
            <div class="alert alert-primary" role="alert" style="text-align: left;">
            `+data.comment[i].comment+`
            </div>
            <button class="btn btn-primary" style="display:inline-block">Edit</button>
            <button class="btn btn-danger" style="display:inline-block">Delete</button>
            <hr>`;

      }
         
      $('#insert-modal-ticket').append(`
         <div class="panel panel-default">
            <div class="panel-body">
              <i class="material-icons" style="font-size:20px; margin-: 20px;"">apps</i>
             `+data.name+`
            </div>
          </div>
        <br><br><br>
        <div class="panel panel-default">
          <div class="panel-body">
          <i class="material-icons" style="font-size:20px">description</i>
          Description
          <br>
          <h1 class="login-forms" style="font-size: 16px;">`+data.description+`</h1>
          </div>
        </div><br><br>
        <div class="panel panel-default">
          <div class="panel-body">  
            <i class="material-icons" style="font-size:20px">insert_comment</i>
            Add a comment 
            <br><br>
            <h1 class="login-forms">
            <form method="post" action="/main/board/view/card/comment/`+data.id+`/" class="comment">
              {% csrf_token %}
              {% render_field comment_form.comment class+="form-control" rows="5" placeholder="Write a comment" %}
              <button class="btn btn-primary" type="submit">Save</button>
            </form>
            </h1>
          </div>
        </div><br><br>
        <div class="panel panel-default">
          <div class="panel-body">
            <i class="material-icons" style="font-size:20px; margin-: 20px;"">local_activity</i>
            Activity
            `+comments+`
            
          </div>
        </div>
      `);
    }
  });
}

function commentTicket(event){
  event.preventDefault();
  var url = $(this).attr('action');
  $.ajax({
    url:url,
    method: "POST",
    data: $(this).serialize(),
    success: function(data){}
  })
}

function closeModalTicket(event){
  $('#insert-modal-ticket').empty();
}


//events
$('.ticket-modal').on('click',modalClick);
$('.close').on('click', closeModalTicket);
$('.add-card-btn').click(add_card_form);
$('#btn-add-list').on('click',add_list_form); 

</script>
</body>
</html>