{% extends 'main/home.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<body style="background-color: #0079bf">
	<div class="board-nav">
		<h1 class="board-nav-title" style="margin-right: 10px;">{{ board.title }} &nbsp|</h1>
		<h1 class="board-nav-title">|&nbsp {{ board.visibility}} &nbsp</h1>
		<form action="{% url 'main:members' board.id %}" method="get" style="display: inline;" class="members-modal-view">
			<button data-target="#memberModal" data-toggle="modal" type="submit" class="btn btn-success" >Members</button>
		</form>
		{% if board.owner.id == user.id %}
		<form method="post" action="{% url 'main:close_board' board.id %}" style="display: inline;">
			{% csrf_token %}
			<button type="submit" class="btn btn-danger">Close Board</button>
		</form>
		{% else %}
		<button type="button" class="btn btn-danger">Leave Board</button>
		{% endif %}
	</div>
	
	<section class="lists-container">

	{% for list in lists %}
	<div id="list-{{ list.id }}" class="list">

		<h3 class="list-title">
			{{ list.name }}<button id="btn-edit-name-list" class="edit-list-btn btn" style="display: inline; width: 40px;height: 30px;margin-left: 180px; text-align: center;" >.</button>
		</h3>
		
		<ul value="{{ list.id }}" id="ul-{{ list.id }}" class="list-items">
			{% for ticket in tickets %}
				{% if ticket.lists_id == list.id %}
				<form method="get" action="{% url 'main:ticket_view' ticket.id %}" value="{{ticket.id}}" class="ticket-modal" data-toggle="modal" data-target="#ticketModal">
					{% csrf_token %}
					<li draggable="true" ondragstart="drag(event)" id="{{ticket.id}}" class="modal-li-draggable"> 
						{{ ticket.name }}
					</li>
					<button type="submit" hidden="hidden">trigger</button>
				</form>
				{% endif %}
			{% endfor %}
		</ul>
		<button value="{{list.id}}" id="btn-add-card" class="add-card-btn btn">Add a card</button>
	</div>
	{% endfor %}
	<span id="inserted-list"></span>
	<span id="insert-list" style="margin-left:15px;"></span>
	<button id="btn-add-list" class="add-list-btn btn" type="submit" style="margin-left: 15px;">Add a list</button>
	</section>
	
</body>
{% endblock content %}


