{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
	<title>Sign up - Trolley</title>
{% endblock title %}

{% block content %}
<div id="container" class="container">
    <div class="row ">
        <div class="col-sm-6 offset-sm-3 text-center">
            <div class="login-container">
            <h1 class="login-font">Create a Trolley Account</h1>
            <h1 class="login-quiet"> or <a href="{% url 'user:login' %}"> sign in to your account</a></h1>            
            </div>
            <div class="info-form">
                <form method="post" class="form-inlin justify-content-center">
                    {% csrf_token %}
                	<div class="form-group">
                        <h1 class="login-forms">First Name</h1>
                        {% render_field forms.first_name class+="form-control" name="first_name" placeholder="Jane" %}
                    </div>
                    <div class="form-group">
                        <h1 class="login-forms">Last Name</h1>
                        {% render_field forms.last_name class+="form-control" name="last_name" placeholder="Doe" %}
                    </div>
                    <div class="form-group">
                        <h1 class="login-forms">Email</h1>
                        {% render_field forms.email class+="form-control" name="email" placeholder="jane.doe@example.com" %}
                        {% if forms.email.errors %}    
                            <div class="alert alert-danger" role="alert" style="text-align: left;">
                                {{ forms.email.errors|striptags }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <h1 class="login-forms">Confirm Password</h1>
                        {% render_field forms.confirm class+="form-control" name="confirm" type="password" %}
                    </div>
                    {% if forms.non_field_errors%}    
                        <div class="alert alert-danger" role="alert" style="text-align: left;">
                            {{ forms.non_field_errors|striptags }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <h1 class="login-forms">Password</h1>
                        {% render_field forms.password class+="form-control" name="password" type="password" %}
                    </div>
                    <button type="submit" class="btn btn-success" style="width: 540px;">Sign Up</button>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock content %}